{{ header }}
{# <div id="common-home" class="container">
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div> #}


    <div class="content-cell">
      <section>
        <div>
          <h1>Якийсь товар №1</h1>
        </div>
      </section>
    </div>


{{ footer }}