{% if languages|length > 1 %}
  <div class="dropdown hidden_ontablet_ost">
    <div class="dropdown-toggle" data-bs-toggle="dropdown">

      {# {% for language in languages %}
        {% if language.code == code %}
          <img src="{{ language.image }}" alt="{{ language.name }}" title="{{ language.name }}">
        {% endif %}
      {% endfor %} #}

      {# <span class="d-none d-md-inline"> {{ text_language }} </span> #} 

      <div class="div_like-small-button stroke_language_icon ">
        <svg xmlns="http://www.w3.org/2000/svg" stroke="inherit" width="16px" height="16px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 0 1 6.412 9m6.088 9h7M11 21l5-10l5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129"/></svg>
      </div>
    </div>
    <ul class="dropdown-menu min-w-auto">
      {% for language in languages %}
        <li><a href="{{ language.href }}" class="dropdown-item">{#<img src="{{ language.image }}" alt="{{ language.name }}" title="{{ language.name }}"/>#} {{ language.name }} </a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="hidden_onweb_ost">  
    {% for language in languages %}  
      {% if language.code != code %}  {# it's kostyl' for only if we have 2 languages!!! #}
        <a href="{{ language.href }}" class="dropdown-item"> {{ language.name }} </a>
      {% endif %}
    {% endfor %} 
  </div>
{% endif %}