{{ header }}
<div id="checkout-cart" class="container">
  {# <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul> #}

  {% if attention %}
    <div class="alert alert-info alert-dismissible alert_ost mw-100 br-0">
      <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="inherit" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" /></svg>
      </div>
      <div><span> {{ attention }} </span></div>
      <div><button type="button" class="btn-close" style="background:none" data-bs-dismiss="alert">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="inherit" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>
      </button></div>
    </div>
  {% endif %}

  {% if success %}
    <div class="alert alert-success alert-dismissible alert_ost mw-100 br-0">
      <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="inherit" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" /></svg>
      </div>
      <div><span> {{ success }} </span></div>
      <div><button type="button" class="btn-close" style="background:none" data-bs-dismiss="alert">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="inherit" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>
      </button></div>
    </div>
  {% endif %}

  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible alert_ost mw-100 br-0">
       <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="inherit" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" /></svg>
      </div>
      <div><span> {{ error_warning }} </span></div>
      <div><button type="button" class="btn-close" style="background:none" data-bs-dismiss="alert">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="inherit" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>
      </button></div>
    </div>
  {% endif %}

  <div class="row mt-60">
  {{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h2>{{ heading_title }} {#{% if weight %} ({{ weight }}){% endif %}#} </h2>
      <br><br>
      <div id="shopping-cart">{{ list }}</div>
      {# {% if modules %}
        <h2>{{ text_next }}</h2>
        <p>{{ text_next_choice }}</p>
        <div id="accordion" class="accordion">
          {% for module in modules %}
            {{ module }}
          {% endfor %}
        </div>
      {% endif %} #}
      <br/>
      <div class="d-inline-block pt-2 pd-2 w-100">
        <div class="float-start"><a href="{{ continue }}" class="btn btn_ost btn_ost_grey">{{ button_shopping }}</a></div>
        <div class="float-end"><a href="{{ checkout }}" class="btn btn_ost btn_ost_grey">{{ button_checkout }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

<script type="text/javascript"><!--
$('#shopping-cart').on('submit', 'form', function (e) {
    e.preventDefault();

    var element = this;

    if (e.originalEvent !== undefined && e.originalEvent.submitter !== undefined) {
        var button = e.originalEvent.submitter;
    } else {
        var button = '';
    }
console.log('url:', $(button).attr('formaction'));
    $.ajax({
        url: $(button).attr('formaction'),
        type: 'post',
        data: $(element).serialize(),
        dataType: 'json',
        beforeSend: function () {
            $(button).prop('disabled', true).addClass('loading');
        },
        complete: function () {
            $(button).prop('disabled', false).removeClass('loading');
        },
        success: function (json) {
            console.log(json);

            if (json['redirect']) {
                location = json['redirect'];
            }

            if (json['error']){
                $('#alert').prepend(`<div class="alert alert-danger alert-dismissible alert_ost mw-100 br-0">
                  <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="inherit" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" /></svg>
                  </div> 
                  <div><span>${json['error']}</span></div>
                  <button type="button" class="btn-close" style="background:none" data-bs-dismiss="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="inherit" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>
                  </button>
                </div>`);
            }

            {# /* if (json['success']) {
                $('#alert').prepend(`<div class="alert alert-success alert-dismissible alert_ost mw-100 br-0">
                  <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="inherit" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" /></svg>
                  </div> 
                  <div><span>${json['success']}</span></div>
                  <button type="button" class="btn-close" style="background:none" data-bs-dismiss="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="inherit" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>
                  </button>
                </div>`);
            }*/ #}

            $('#shopping-cart').load('index.php?route=checkout/cart|list&language={{ language }}', {}, function () {
                $('#header-cart').load('index.php?route=common/cart|info&language={{ language }}');
            });

            {# activeCartListListeners(); #}
        },
        error: function (xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

{# function activeCartListListeners(){
  $('.invisibleProductEdit').parent().find('input[name="quantity"]').change(e =>{
    console.log('change');
    e.preventDefault();
    e.stopPropagation();
    /*$(this.currentTarget).parent().find('.invisibleProductEdit').click();*/  
  });
}
activeCartListListeners(); #}
//--></script>
{{ footer }}
