{{ header }}
<div id="account-account" class="container">
  {# <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul> #}
  {% if success %}
    <div class="alert alert-success alert-dismissible alert_ost mw-100 br-0">
    {# <i class="fa-solid fa-circle-check me-2"></i>  #}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="inherit" class="w-6 h-6 me-2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    {{ success }}</div>
  {% endif %}
  <div class="row mt-60">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h2>{{ text_my_account }}</h2>
      <ul class="list-unstyled mt-20 lh-20">
        <li><a href="{{ edit }}" class="blue_ost">{{ text_edit }}</a></li>
        <li><a href="{{ password }}" class="blue_ost">{{ text_password }}</a></li>
        <li><a href="{{ address }}" class="blue_ost">{{ text_address }}</a></li>
        <li><a href="{{ payment_method }}" class="blue_ost">{{ text_payment_method }}</a></li>
        <li><a href="{{ wishlist }}" class="blue_ost">{{ text_wishlist }}</a></li>
      </ul>
      <h2 class="mt-60">
        {{ text_my_orders }}
      </h2>
      <ul class="list-unstyled mt-20 lh-20">
        <li><a href="{{ order }}" class="blue_ost">{{ text_order }}</a></li>
        <li><a href="{{ subscription }}" class="blue_os">{{ text_subscription }}</a></li>
        <li><a href="{{ download }}" class="blue_ost">{{ text_download }}</a></li>
        {% if reward %}
          <li><a href="{{ reward }}" class="blue_ost">{{ text_reward }}</a></li>
        {% endif %}
        <li><a href="{{ return }}" class="blue_ost">{{ text_return }}</a></li>
        <li><a href="{{ transaction }}" class="blue_ost">{{ text_transaction }}</a></li>
      </ul>
      {# {% if affiliate %}
        <h2 class="mt-60">
          {{ text_my_affiliate }}
        </h2>
        <ul class="list-unstyled">
          {% if not tracking %}
            <li><a href="{{ affiliate }}">{{ text_affiliate_add }}</a></li>
          {% else %}
            <li><a href="{{ affiliate }}">{{ text_affiliate_edit }}</a></li>
            <li><a href="{{ tracking }}">{{ text_tracking }}</a></li>
          {% endif %}
        </ul>
      {% endif %} #}
      {# <h2>
        {{ text_my_newsletter }}
      </h2 class="mt-60">
      <ul class="list-unstyled">
        <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
      </ul> #}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
