{% if addresses %}
  <div class="table-responsive">
    <table class="table table-bordered table_ost">
      {% for address in addresses %}
        <tr>
          <td class="text-start">{{ address.address }}</td>
          <td class="text-end"><a href="{{ address.edit }}" class="btn btn_ost btn_ost_grey">{{ button_edit }}</a> <a href="{{ address.delete }}" class="btn btn_ost btn_ost_grey">{{ button_delete }}</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% else %}
  <p>{{ text_no_results }}</p>
{% endif %}