<form method="post" data-oc-toggle="ajax" data-oc-load="{{ cart }}" data-oc-target="#header-cart">
  <div class="product-thumb_ost">
    <div class="image_part"><a href="{{ href }}"><img src="{{ thumb }}" alt="{{ name }}" title="{{ name }}" class=""/></a></div>    object-fit: cover;
    <div class="title_part"><a href="{{ href }}">{{ name }}</a></div>
    <div class="bottom_part">
      <div> <span class="price-new_ost">{{ price }}</span> </div>
      <div>
        <button type="submit" formaction="{{ add_to_wishlist }}" data-bs-toggle="tooltip" title="{{ button_wishlist }}" class="div_like-small-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="inherit" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
        </button>
        <button type="submit" formaction="{{ add_to_cart }}" data-bs-toggle="tooltip" title="{{ button_cart }}" class="div_like-small-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="inherit" class="bi bi-bag" viewBox="0 0 16 16">
              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
          </svg>
        </button>
      </div>
    </div>
    <input type="hidden" name="product_id" value="{{ product_id }}"/>
    <input type="hidden" name="quantity" value="{{ minimum }}"/>
  </div>
</form>







    {# <div class="content">
      <div class="description">
        <h4><a href="{{ href }}">{{ name }}</a></h4>
         <p>{{ description }}</p> 
        {% if price %}
          <div class="price">
            {% if not special %}
              <span class="price-new">{{ price }}</span>
            {% else %}
              <span class="price-new">{{ special }}</span> <span class="price-old">{{ price }}</span>
            {% endif %}
            {% if tax %}
              <span class="price-tax">{{ text_tax }} {{ tax }}</span>
            {% endif %}
          </div>
        {% endif %}
        {% if review_status and rating %}
          <div class="rating">
            {% for i in 1..5 %}
              {% if rating < i %}
                <span class="fa-stack"><i class="fa-regular fa-star fa-stack-1x"></i></span>
              {% else %}
                <span class="fa-stack"><i class="fa-solid fa-star fa-stack-1x"></i><i class="fa-regular fa-star fa-stack-1x"></i></span>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="button-group">
        <button type="submit" formaction="{{ add_to_cart }}" data-bs-toggle="tooltip" title="{{ button_cart }}"><i class="fa-solid fa-shopping-cart"></i></button>
        <button type="submit" formaction="{{ add_to_wishlist }}" data-bs-toggle="tooltip" title="{{ button_wishlist }}"><i class="fa-solid fa-heart"></i></button>
        <button type="submit" formaction="{{ add_to_compare }}" data-bs-toggle="tooltip" title="{{ button_compare }}"><i class="fa-solid fa-arrow-right-arrow-left"></i></button> 
      </div>
    </div>
    <input type="hidden" name="product_id" value="{{ product_id }}"/>
    <input type="hidden" name="quantity" value="{{ minimum }}"/>
  </div>
</form> #}
